a.menu-link:hover {
    text-decoration: none;
}
.language-link {
    text-decoration: none;
    color: #000;
}

.language-link.active {
    font-weight: bold;
    color: red;
}
span.error-message {
    color: red !important;
}

.modal-content{
    overflow-y: scroll !important;
    max-height: 900px !important;
}
.modal-content::-webkit-scrollbar {
    width: 0px; /* Chiều rộng của thanh cuộn */
}
thead, tbody, tfoot, tr, td, th {
    border-color: rgb(233, 232, 232)!important;
    border-style: inherit !important;
    border-width: 0;
}
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
}
.dataTables_filter{
    outline: none !important;
    margin: 10px 10px 0 0;
}
img.logo-img {
    width: 52px ;
}
div#table_businesses_length {
    margin: 8px !important;
}