a.menu-link:hover {
    text-decoration: none;
}
.language-link {
    text-decoration: none;
    color: #000;
}

.language-link.active {
    font-weight: bold;
    color: red;
}
span.error-message {
    color: red !important;
}

.modal-content{
    overflow-y: scroll !important;
    max-height: 900px !important;
}
.modal-content::-webkit-scrollbar {
    width: 0px; /* Chiều rộng của thanh cuộn */
}